spawn-at-startup "swaybg" "-m" "fit" "-i" "/etc/nixos/images/mini-nix-side-greyer.png"
spawn-at-startup "xwayland-satellite"
spawn-at-startup "mako"


environment {
    DISPLAY ":0"
    NIXOS_OZONE_WL "1" 
    _JAVA_AWT_WM_NONREPARENTING "1"
    QT_WAYLAND_DISABLE_WINDOWDECORATION "1"
    QT_QPA_PLATFORM "xcb"
    WLR_RENDERER "vulkan"
    GTK_USE_PORTAL "1"
    TERMINAL "foot"
    TERM "xterm-256color"
    WLR_DRM_NO_ATOMIC "1"
}

overview {
    zoom 0.25
    workspace-shadow {
    off 
}
    // backdrop-color "#2d2d2d"
}

gestures {
    hot-corners { 
    off 
}
}

// cursor {
//     hide-when-typing
//     hide-after-inactive-ms 1000
// }

hotkey-overlay {
    skip-at-startup
}

input {
    keyboard {
        xkb { }
        numlock
    }

    touchpad {
        tap
        dwt
        dwtp
        drag-lock
        natural-scroll
    }

    mouse {
        natural-scroll
    }

    warp-mouse-to-focus mode="center-xy"
    focus-follows-mouse max-scroll-amount="0%"
}

layer-rule {
    match namespace="^wallpaper$"
    place-within-backdrop true
}

output "eDP-1" {
    scale 1
    transform "normal"
    position x=0 y=0
}

output "HDMI-A-2" {
    scale 1
    transform "normal"
    position x=-1920 y=0
}

layer-rule {
    // This is for swaybg; change for other wallpaper tools.
    // Find the right namespace by running niri msg layers.
    match namespace="^wallpaper$"
    place-within-backdrop true
}

layout {
    gaps 8
    background-color "transparent"
    empty-workspace-above-first
    center-focused-column "never"
    // default-column-display "tabbed"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    focus-ring {
        off
        width 1
        active-color "#6286ad"
        inactive-color "#999999"
        urgent-color "#999999"
    }

    border {
        width 1
        active-color "#484848"
        inactive-color "#484848"
        urgent-color "#484848"
    }

    shadow {
        draw-behind-window true
        softness 5
        spread 1
        offset x=0 y=0
        color "#fff7"
    }

    struts {
        left -2
        right -2
        top -2
        bottom -2
    }

    tab-indicator {
        width 8
        gap 6
        corner-radius 3
        gaps-between-tabs 20
        length total-proportion=0.44
        position "top"
        place-within-column
        active-color "#8ba4b077"
        inactive-color "#000000"
    }
}

prefer-no-csd

screenshot-path "~/Documents/Pictures/screenshot/%Y-%m-%d %H-%M-%S.png"

animations {
    workspace-switch {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }

    window-open {
        duration-ms 150
        curve "ease-out-expo"
    }

    window-close {
        duration-ms 150
        curve "ease-out-quad"
    }

    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=1600 epsilon=0.0001
    }

    window-movement {
        spring damping-ratio=1.0 stiffness=1600 epsilon=0.0001
    }

    window-resize {
        spring damping-ratio=1.0 stiffness=1600 epsilon=0.0001
    }

    config-notification-open-close {
        spring damping-ratio=0.6 stiffness=2000 epsilon=0.001
    }

    screenshot-ui-open {
        duration-ms 200
        curve "ease-out-quad"
    }

    overview-open-close {
        spring damping-ratio=1.0 stiffness=1600 epsilon=0.0001
    }
}

window-rule {
    open-floating false 
    geometry-corner-radius 9
    clip-to-geometry true
    // opacity 0.95
}

binds {
    Mod+M repeat=false { spawn-sh "wl-mirror $(niri msg --json focused-output | jq -r .name)"; }

    Mod+Slash { show-hotkey-overlay; }
    Mod+W { toggle-column-tabbed-display; }

    Mod+T hotkey-overlay-title="Open a Terminal: foot" { spawn "foot"; }
    Mod+P hotkey-overlay-title="Run an Desktop Application: tofi-drun" { spawn "tofi-drun"; }
    Mod+Shift+P hotkey-overlay-title="Run an command: tofi-run" { spawn "tofi-run"; }
    // Mod+Adfst+L hotkey-overlay-title="Lock the Screen: swaylock" { spawn "swaylock"; }

    Mod+Space hotkey-overlay-title="Run Notify-widget" { spawn "notify-widget"; }
    Mod+Shift+Space hotkey-overlay-title="Run Notify-network" { spawn "notify-network"; }
    Mod+Control+Space hotkey-overlay-title="Run Notify-time" { spawn "notify-time"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn "audio_sink_up"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "audio_sink_down"; }
    XF86AudioMute        allow-when-locked=true { spawn "audio_sink_toggle"; }

    Mod+Shift+F8 allow-when-locked=true { spawn "audio_sink_up"; }
    Mod+Shift+F7 allow-when-locked=true { spawn "audio_sink_down"; }
    Mod+Shift+F6 allow-when-locked=true { spawn "audio_sink_toggle"; }

    Mod+Shift+F4 allow-when-locked=true { spawn "audio_source_up"; }
    Mod+Shift+F3 allow-when-locked=true { spawn "audio_source_down"; }
    Mod+Shift+F2 allow-when-locked=true { spawn "audio_source_toggle"; }

    Mod+Shift+F12 allow-when-locked=true { spawn "brightness_up"; }
    Mod+Shift+F11 allow-when-locked=true { spawn "brightness_down"; }

    Mod+O repeat=false { toggle-overview; }
    Mod+Q { close-window; }

    Mod+H { focus-column-left; }
    Mod+J { focus-window-down; }
    Mod+K { focus-window-up; }
    Mod+L { focus-column-right; }

    Mod+Ctrl+H { move-column-left; }
    Mod+Ctrl+J { move-window-down; }
    Mod+Ctrl+K { move-window-up; }
    Mod+Ctrl+L { move-column-right; }

    Mod+Shift+H { focus-monitor-left; }
    Mod+Shift+J { focus-monitor-down; }
    Mod+Shift+K { focus-monitor-up; }
    Mod+Shift+L { focus-monitor-right; }

    Mod+Shift+Ctrl+H { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+J { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+L { move-column-to-monitor-right; }
    Mod+Shift+Ctrl+K { move-column-to-monitor-up; }

    Mod+U { focus-workspace-down; }
    Mod+I { focus-workspace-up; }
    Mod+Ctrl+U { move-column-to-workspace-down; }
    Mod+Ctrl+I { move-column-to-workspace-up; }

    Mod+Ctrl+Shift+U { move-workspace-down; }
    Mod+Ctrl+Shift+I { move-workspace-up; }

    Mod+Tab { focus-workspace-previous; }
    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+Comma  { focus-column-first; }
    Mod+Period { focus-column-last; }
    Mod+Ctrl+Comma  { move-column-to-first; }
    Mod+Ctrl+Period { move-column-to-last; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }

    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+Ctrl+F { expand-column-to-available-width; }
    Mod+Ctrl+Shift+F { toggle-windowed-fullscreen; }

    Mod+C { center-column; }
    Mod+Ctrl+C { center-visible-columns; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }

    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+V { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }


    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Shift+Q { quit skip-confirmation=true; }
    Mod+Control+Q { power-off-monitors; }
    //
    //
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+0 { focus-workspace 10; }
    //
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }
    Mod+Ctrl+0 { move-column-to-workspace 10; }
    
    // Mod+Shift+1 { spawn "tagctl" "toggle" "1"; }
    // Mod+Shift+2 { spawn "tagctl" "toggle" "2"; }
    // Mod+Shift+3 { spawn "tagctl" "toggle" "3"; }
    // Mod+Shift+4 { spawn "tagctl" "toggle" "4"; }
    // Mod+Shift+5 { spawn "tagctl" "toggle" "5"; }
    // Mod+Shift+6 { spawn "tagctl" "toggle" "6"; }
    // Mod+Shift+7 { spawn "tagctl" "toggle" "7"; }
    // Mod+Shift+8 { spawn "tagctl" "toggle" "8"; }
    // Mod+Shift+9 { spawn "tagctl" "toggle" "9"; }
    // Mod+Shift+0 { spawn "tagctl" "toggle" "0"; }
    //
    // Mod+1 { spawn "tagctl" "toggle-tag" "1"; }
    // Mod+2 { spawn "tagctl" "toggle-tag" "2"; }
    // Mod+3 { spawn "tagctl" "toggle-tag" "3"; }
    // Mod+4 { spawn "tagctl" "toggle-tag" "4"; }
    // Mod+5 { spawn "tagctl" "toggle-tag" "5"; }
    // Mod+6 { spawn "tagctl" "toggle-tag" "6"; }
    // Mod+7 { spawn "tagctl" "toggle-tag" "7"; }
    // Mod+8 { spawn "tagctl" "toggle-tag" "8"; }
    // Mod+9 { spawn "tagctl" "toggle-tag" "9"; }
    // Mod+0 { spawn "tagctl" "toggle-tag" "0"; }
}
