
/* Prevent window border/titlebar color change on focus/unfocus */
:root {
  --lwt-accent-color-inactive: var(--lwt-accent-color) !important;
  --lwt-text-color-inactive: var(--lwt-text-color) !important;
}

.titlebar-spacer {
    display     : none !important;
}

.titlebar-buttonbox-container {
    display: none !important;
    margin-right: 12px !important;
}



/* Menu button */
#PanelUI-button {
  -moz-box-ordinal-group: 0 !important;
  /*order: -2 !important;*/
  margin: px !important;
  /* display: none !important; */
}


/* Extensions button */
#unified-extensions-button {
  -moz-box-ordinal-group: 0 !important;
  /*order: -3 !important;*/
  margin: 0px !important;
 }


/* Page back and foward buttons */
/*#back-button,*/
/*#forward-button*/
/*{*/
/*  display: none !important*/
/*}*/

/* Extension name inside URL bar */
#identity-box.extensionPage #identity-icon-label {
  visibility: collapse !important
}

/* All tabs (v-like) button */
#alltabs-button {
  display: none !important
}

#sidebar-box{
    max-width: none !important
}


/*#identity-permission-box,*/
#star-button-box
/*#identity-icon-box,*/
/*#picture-in-picture-button,*/
/*#tracking-protection-icon-container,*/
/*#translations-button*/
/* #reader-mode-button */
{
  display: none !important
}

/* set the initial borders of the urlbar and search bar to gray */
#urlbar > #urlbar-background, 
#urlbar[breakout][breakout-extend] > #urlbar-background, 
#searchbar { 
    border: none !important; 
    outline: none !important; 
    border-radius: 0px !important; 
}
/* set urlbar border to blue when focused */
#urlbar[breakout][breakout-extend] #urlbar-background {
    border: none !important;
    outline: none !important; 
}
.sidebar-splitter {
  display: none !important
}
